body {
    font-family: sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: rgb(0, 132, 255);
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    width: 12rem;
}

button:hover {
    background-color: rgb(0, 94, 182);
    color: white;
}

#word {
    display: none;
    font-size: larger;
}